#title{
  background-color: #ff4c68;
  }


.font{
  color: #fff;
  font-family: 'Montserrat-black';
  font-size:3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.container-fluid{
   padding: 3% 15% 5%;

}
 body{
   font-family: 'Montserrat';
   text-align: center;
 }

 .navbar-brand{
   font-family: "Ubuntu";
   font-size:2.5rem;
   font-weight: bold;

 }
.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

.space{
  margin : 5% 3% 5% 0;
}

.main{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right:30%;
}

#features{
  font-family: 'Montserrat-black';
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.draw{
  padding: 7% 15%;
  font-family: 'Montserrat-bold';

}
.col-lg-4{
  padding: 40px;

}

.icon{
  color:#ef8172;

}
.icon:hover{
  color: #ff4c68;
}


#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: black;

}

h1{
  font-family: 'Montserrat-bold';
  line-height: 1.5;
  font-size: 2.5rem;
}


h2{
  font-family: 'Montserrat-bold';
  line-height: 1.5;
  font-size: 2.5rem;
  color: white;
}

h3{
  font-family: 'Montserrat-bold';
  line-height: 1.5;

}

p{
  color: #8f8f8f;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  color: white;
  text-align: center;
  padding-bottom: 3%;

}

.press-logo{
  width:15%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.price-head{
  color: black;
}

.card{
  padding: 3% 2%;
}
@media (max-width:992px) {
  #title{
    text-align: center;
  }

  .main{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;

}

#footer{
  text-align: center;
  padding: 5% 10%;
}
.social-icon{
  margin: 20px 10px;
}
